body {
    background: #e0e0e0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    height: 2.6em;
    margin: 0;
    padding: 0.1em;
    z-index: 1010; /* go over leaflet buttons */
}

#map {
    position: relative;
    flex: 1;
    margin: 0;
}

#location {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 799; /* 1 less than the attribution div */
    font-size: 11px;
    color: #333;
    background: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    margin: 0;
    cursor: auto;
    pointer-events: auto;
    display: none;
}

#menu-buttons {
    display: inline-block;
}

#menu-buttons button {
    margin-right: 0.2em;
}

#session-buttons {
    float: right;
}

#session-buttons > p {
    display: inline-block;
    margin-right: 2em;
}

#tag-buttons {
    float: left;
    width: 80%;
    height: 100%;
}

.tag-button {
    height: 100%;
    width: 10%;
    display: inline-block;
}

label.tag-button {
    white-space: normal;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#building-buttons {
    float: right;
    width: 20%;
    height: 100%;
}

#building-buttons > button {
    display: inline-block;
    width: 50%;
    height: 100%;
    white-space: normal;
}

#building-buttons > div {
    height: 100%;
}

.button-popup-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popup-button {
    width: 8em !important;
    height: 8em !important;
    white-space: normal !important;
    padding: 0.2em;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#footer {
    height: 8em;
    margin: 0;
    padding: 0.1em;
}

#fullscreen-picture {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: zoom-out;
}

#photo-data {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1em;
}

#photo-date {
    font-size: large;
}

#photo-copyright {
    font-size: small;
}

#photo-copyright a {
    color: #f0ad4e;
}

#photo-copyright a:hover {
    color: #ce9444;
}
