body {
    background: #e0e0e0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    height: 2.5em;
    margin: 0;
}

#map {
    flex: 1;
    margin: 0;
}

#connection-buttons {
    float: right;
}

#buildings-buttons {
    float: left;
}

#footer {
    height: 8em;
    margin: 0;
}