body {
    background: #e0e0e0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#header {
    width: 100%;
    height: 2em;
    margin: 0;
}

#map {
    width: 100%;
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#connection-buttons {
    float: right;
}

#download {
    float: left;
}