html(lang="en")
    head
        title RoofMapper maps
    body(style={'font-family':'sans-serif'})
        h1 RoofMapper maps
        h2 Top roof material
        a(href='/maps/top-latest.png', target='_blank')
            img(src='/maps/thumb-top-latest.jpg')
        h2 Tiles
        a(href='/maps/roof_tiles-latest.png', target='_blank')
            img(src='/maps/thumb-roof_tiles-latest.jpg')
        h2 Slate
        a(href='/maps/slate-latest.png', target='_blank')
            img(src='/maps/thumb-slate-latest.jpg')
        h2 Other
        a(href='/maps/other-latest.png', target='_blank')
            img(src='/maps/thumb-other-latest.jpg')
        h2 Map key
        h3 Tiles
        table
            tr
                td 0%
                td 0-10%
                td 10-20%
                td 20-30%
                td 30-40%
                td 40-50%
                td 50-60%
                td 60-70%
                td 70-80%
                td 80-90%
                td 90-100%
            tr(style={'height':'1em'})
                td(style={'background-color':'#ffffff'})
                td(style={'background-color':'#ffeee6'})
                td(style={'background-color':'#fdddcd'})
                td(style={'background-color':'#fbccb5'})
                td(style={'background-color':'#f7bc9d'})
                td(style={'background-color':'#f3ab85'})
                td(style={'background-color':'#ed9b6e'})
                td(style={'background-color':'#e68a57'})
                td(style={'background-color':'#df7a40'})
                td(style={'background-color':'#d76928'})
                td(style={'background-color':'#ce5807'})
        h3 Slate
        table
            tr
                td 0%
                td 0-10%
                td 10-20%
                td 20-30%
                td 30-40%
                td 40-50%
                td 50-60%
                td 60-70%
                td 70-80%
                td 80-90%
                td 90-100%
            tr(style={'height':'1em'})
                td(style={'background-color':'#ffffff'})
                td(style={'background-color':'#ebf0f6'})
                td(style={'background-color':'#d6e1ee'})
                td(style={'background-color':'#c2d3e5'})
                td(style={'background-color':'#aec4dd'})
                td(style={'background-color':'#99b6d4'})
                td(style={'background-color':'#84a8cc'})
                td(style={'background-color':'#6e9bc3'})
                td(style={'background-color':'#568dbb'})
                td(style={'background-color':'#3a80b2'})
                td(style={'background-color':'#0973aa'})
        h3 Other
        table
            tr
                td 0%
                td 0-10%
                td 10-20%
                td 20-30%
                td 30-40%
                td 40-50%
                td 50-60%
                td 60-70%
                td 70-80%
                td 80-90%
                td 90-100%
            tr(style={'height':'1em'})
                td(style={'background-color':'#ffffff'})
                td(style={'background-color':'#f1f1f1'})
                td(style={'background-color':'#e3e3e3'})
                td(style={'background-color':'#d6d6d6'})
                td(style={'background-color':'#c9c9c9'})
                td(style={'background-color':'#bbbbbb'})
                td(style={'background-color':'#aeaeae'})
                td(style={'background-color':'#a1a1a1'})
                td(style={'background-color':'#959595'})
                td(style={'background-color':'#888888'})
                td(style={'background-color':'#7c7c7c'})
        a(href='/maps/archive', target='_blank')
            p Archive