html(lang="en")
    head
        title RoofMapper maps
    body(style={'font-family':'sans-serif'})
        h1 RoofMapper maps
        h2 Top roof material
        a(href='/maps/top-latest.png', target='_blank')
            img(src='/maps/thumb-top-latest.jpg')
        h2 Tiles
        a(href='/maps/roof_tiles-latest.png', target='_blank')
            img(src='/maps/thumb-roof_tiles-latest.jpg')
        h2 Slate
        a(href='/maps/slate-latest.png', target='_blank')
            img(src='/maps/thumb-slate-latest.jpg')
        h2 Other
        a(href='/maps/other-latest.png', target='_blank')
            img(src='/maps/thumb-other-latest.jpg')
        a(href='/maps/archive', target='_blank')
            p Archive